<div class="main">
  <div class="div-left">
  <table style="width:100%">
  <thead>
    <tr>
      <th>Products</th>
      <th>Price</th>
      <th>Quantity</th>
    <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="quantity==0">
    <td colspan="4" class="middle">There are no products</td>
    </tr>
   </tbody>
  </table>
  <table style="width:100%">

    <tbody>
    <tr style="text-align: center;" *ngIf="quantity>0">
      <td><div class="myButton" (click)="removeData(0)"><i class="fa fa-times" aria-hidden="true"></i></div>{{itemName}}</td>
      <td>{{price}}</td>
      <td><div class="myButton" (click)="reduceQuantity()"><i class="fa fa-minus" aria-hidden="true"></i></div>
    {{quantity}}
    <div class="myButton" (click)="increaseQuantity()"><i class="fa fa-plus" aria-hidden="true"></i></div>
    </td>
    <td>{{finalPrice}}</td>
    </tr>
   </tbody>
  </table>
  <div class="bottom">
  <table style="width:93%" id="t01">
    <tr>
      <th>SubTotal</th>
  
      <td>{{finalPrice}}&nbsp;INR&nbsp;&nbsp;&nbsp;{{quantity}}&nbsp;Total</td>
    </tr>
    <tr>
      <th>VAT Tax</th>
       <td>{{vatt}}&nbsp;%</td>
    </tr>
    <tr>
      <th>Discount</th>
      <td>{{discoun}}&nbsp;%</td>
    </tr>
     <tr>
      <th>Total</th>
      <td>{{finalPrice}}&nbsp;INR</td>
    </tr>
  </table>
  <div class="button">
  <button class="cancel" (click)="cancelSale(0)">CANCEL SALE</button>
  <button class="cancel"><a class="button" href="#popup1">PROCESS SALE</a></button>
  
  </div>
  </div>
  </div>
  <div class="div-right">
  <div class="gallery">
        <div class="imges" *ngFor="let data of arrayData">
          <img src="assets/images/{{data.image}}" (click)="calculatePrice(data.price,data.name)">
          <span class="centered">{{data.name}}</span>
      <p>{{data.price}}&nbsp;INR</p>
        </div>
      
      </div>
  </div>
  </div>
  <div id="popup1" class="overlay">
    <div class="popup">
          <h3>Receipt</h3>
      <a class="close" href="#" (click)="completeSale(0)">&times;</a>
      <div class="content">
        <p>Sale No. #12019</p>
        <p>{{showDate}}</p>
        <hr>
        <table style="width: 100%;">
          <tr>
            <th class="thead">#</th>
            <th class="thead">Products</th>
            <th class="thead">Quantity</th>
            <th class="thead">Sub Total</th>
          </tr>
          <tr>
            <td>{{i}}</td>
            <td>{{itemName}}</td>
            <td>{{quantity}}</td>
            <td>{{finalPrice}}</td>
          </tr>
          <hr>
          <tr>
            <td class="tdata">Total Items</td>
            <td class="tdata">{{quantity}}&nbsp;Total</td>
            <td class="tdata">{{finalPrice}}&nbsp;INR</td>
          </tr>
          <hr>
          <tr>
            <td class="dis">Discount</td>
            <td class="dis">{{discoun}}%</td>
          </tr>
          <hr>
          <tr>
            <td class="dis">
              VAT
            </td>
            <td class="dis">{{vatt}}%</td>
          </tr>
        </table>
        
        <hr>
      </div>
    </div>
  </div>