body{
  overflow-x: hidden;
}
.main{	
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.div-left{
  width: 40%;
float:left;
    height: 610px;
background:#e9ecef;
}
.div-right{
width: 59%;
float:right;
background:#e9ecef;
}
.middle{
  background: #fff;
text-align: center;
  height: 78px;
}
.gallery{
display: flex;
flex-wrap: wrap;
align-content: flex-start;
position: relative;
text-align: center;

}

.imges img{
position:relative;
 opacity: 1;
display: block;
height: 100px;
width: 100px;
margin: 10px;
border-radius: 10px;
transition: .5s ease;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
background: #00000070;
cursor: pointer;
}
.centered {
position: relative;
bottom:71px;
color:#fff;
cursor: pointer;
}
.imges img:hover {
opacity: 0.3;
color: #000000;
}
.imges p{
position: relative;
bottom: 88px;
color: black;
opacity:0;
}
.imges:hover p{  
opacity:1;
}
.cancel{

margin: 2px;
background-color:#ec1f33;
border-radius:0;
border:1px solid #ec1f33;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:14px;
font-weight:bold;
padding:11px 68px;
text-decoration:none;
text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
background-color:#72b352;

}
.heading{
  background-color: grey;
  width: 100%;
}
.dis{
  text-align: right;
}
.tdata{
  text-align: right;
  margin:30px;
}
.cancel:nth-child(2){
background-color: #1e7e34;
border:1px solid #1e7e34;
}
.bottom{
  position: absolute;
margin-bottom: 0;
top: 450px;
}

table#t01, table#t01 th, table#t01 td {
border: 1px solid #ccc8c8;
border-collapse: collapse;
}

table#t01 tr:nth-child(even) {
background-color: #eee;

}
table#t01 tr:nth-child(odd) {
background-color: #fff;
}
table#t01 th {
background-color: #eee;
color: #000;
text-align: left;
}
table#t01 tbody tr td:nth-child(even){
border-right:0;
}
.myButton {
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
background-color:#f9f9f9;
border-radius:6px;
border:1px solid #dcdcdc;
display:inline-block;
cursor:pointer;
color:red;
font-family:Arial;
font-size:11px;
font-weight:bold;
padding:6px 10px;
text-decoration:none;
text-shadow:0px 3px 0px #ffffff;
}
.myButton:hover {
background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
background-color:#e9e9e9;
}
.myButton:active {
position:relative;
top:1px;
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}
.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}
a{
color: #fff;
text-decoration: none;
}
.popup h2 {
margin-top: 0;
color: #333;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup .close:hover {
color: #06D85F;
}
.popup .content {
max-height: 30%;
overflow: auto;
}
@media screen and (max-width: 700px){
.box{
width: 70%;
}
.thead{
  margin: 10px;
}
.popup{
width: 70%;
}
}